.conteudo-postagem{
    margin-bottom: 2rem;
}

.conteudo-postagem p{
    color: #000000;
}

li{
    font-size: 0.875rem;
    line-height: 1.1875rem;
    color: #000000;
}

.comentario{
    display: flex;
    flex-direction: column;
}

.comentario button{
    width: 7.375rem;
    height: 2.6875rem;
    background-color: #FE0078;
    color: #FFFFFF;
    border-radius: 20px;
    margin:3rem 0 4rem 0;
}

.nome-email{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.nome-email input{
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 2px;
    height: 2rem;
    cursor: pointer;
}

.input-nome, .input-email{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.nome-email input:hover{
    border: 1px solid #FE0078;
    border-radius: 2px;
}

.input-email{
    margin-left: 1.5rem;
}

label{
    font-size: 0.875rem;
    line-height: 1.1875rem;
    color: #000000;
    padding-bottom: 0.5rem;
}

.input-comentario{
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
}

textarea{
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 2px;
    cursor: pointer;
}

textarea:hover{
    border: 1px solid #FE0078;
    border-radius: 2px;
}